@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

@config "../../tailwind.config.js";

.about-carousel .react-multi-carousel-dot-list {
  position: absolute;
  top: -2.5rem;
  width: fit-content;
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

@media (min-width: 640px) {
  .about-carousel .react-multi-carousel-dot-list {
    right: 2rem;
  }
}

@media (min-width: 1024px) {
  .about-carousel .react-multi-carousel-dot-list {
    right: 3rem;
  }
}