@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

@config "../../tailwind.config.js";
